<div class="pageLinks">
    <% params[:url][:page] = paginator.current.previous %>
    <%= link_to_remote(h('< Previous'), params) if paginator.current.previous%>
    <%= pagination_link_remotes(paginator, {:window_size => 4, :params => params}) %>
    <% params[:url][:page] = paginator.current.next %>
    <%= link_to_remote(h('Next >'), params) if paginator.current.next %>
 </div>
