<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods =>["broadcasters","commissioned_expressions","commissioned_works","concept_genres","concept_influences","concept_themes","distinctions","funders","happening_expressions","managers","manifestations_launched","performers","presented_expressions","presenters","recorders","related_events","resources_launched","sellers","venues_held_at","venues_presented_at"
	],
	:object => object
	
}%>
