<%text = 'New Categorisation '+ contextual_text%>
<%= link_to_new text, 600,600,:controller => 'marketing_categorisation', :action => 'new_subcategory_in_popup_from_person_edit', :id => contextual_category_id%>