<br/>
<h2>Your registration was successful!</h2>

<p>You have been logged into the site as username: <%=@login.username%></p>

<p>Visit <a href="/finder/show/works">Music Search</a>, <a href="/finder/show/people">People Search</a> or <a href="/finder/show/events">Events Search</a> to get started.</p>


<%=render :partial => '/cart/memberships_page_inline'%>

