<img src="http://tripodtravel.co.nz/hdr-lakeferry/thumbnails/lake_ferry_sunshine_grass.jpg"/>
<%= options_from_collection_for_select(@person.roles, :role_id, :role_with_organisation_name, @role_id) %>
