<%= error_messages_for 'privilege' %>

<!--[form:privilege]-->
<p><label for="privilege_privilege_name">Privilege name</label><br>
<%= text_field 'privilege', 'privilege_name'  %></p>

<p><label for="privilege_privilege_desc">Privilege desc</label><br>
<%= text_field 'privilege', 'privilege_desc'  %></p>
<!--[eoform:privilege]-->

