<%= error_messages_for 'member_type' %>

<!--[form:member_type]-->
<p><label for="member_type_member_type_desc">Member type desc</label><br>
<%= text_area 'member_type', 'member_type_desc'  %></p>
<!--[eoform:member_type]-->

