<h1>Loan Request received</h1>
<p>Thank you! Your loan request has been sent to SOUNZ staff, and we will contact you via email to arrange the details.</p>

<p><%= link_to 'Music Search', :controller => 'finder', :action => 'shows', :id => "works" %></p>