<hr>
<br>
<h2>Subcategory</h2>
<table>
<tr>
<th><label for="marketing_subcategory_abbreviation">Abbreviation</label></th>
<td><%= text_field 'marketing_subcategory', 'abbreviation'  %></td>
</tr>
<tr>
<th><label for="marketing_subcategory_description">Description</label></th>
<td><%= text_area 'marketing_subcategory', 'description', :cols => standard_edit_cols, :rows => standard_edit_rows  %></td>
</tr>
</table>
