<br>
<h2>Marketing Categorisation</h2>

<% if flash[:notice] %><p id="flash"><%= flash[:notice] %></p><% end %>

<% form_tag :action => 'update_subcategory', :id => @marketing_subcategory do %>

<%= render :partial => 'categorisation_form' %>

<div align="right">
<%= submit_tag "Save" %>
</div>

<% end %>

<%=link_to_popup_callback("Close", @marketing_subcategory.marketing_subcategory_id)%>
