<h1>Editing people_categorization</h1>

<% form_tag :action => 'update', :id => @people_categorization do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%=# go_back_link 
%>