<h2>SOUNZtender Bidding Form</h2>
<p>
  Your bid for SOUNZtender has been emailed to the SOUNZ project coordinator
  and will be confirmed by email.
</p>

<a href="/news_articles/?category=current">Return to News</a>