<%= error_messages_for 'attachment_type' %>

<!--[form:attachment_type]-->
<p><label for="attachment_type_attachment_type_desc">Attachment type desc</label><br>
<%= text_area 'attachment_type', 'attachment_type_desc'  %></p>

<p><label for="attachment_type_display_order">Display order</label><br>
<%= text_field 'attachment_type', 'display_order'  %></p>
<!--[eoform:attachment_type]-->

