<% for column in AttachmentType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @attachment_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @attachment_type %> |
<%= link_to 'Back', :action => 'list' %>
