<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods=>["works_awarded",
	 "expressions_awarded",
	 "manifestations_awarded",
	 "resources_awarded",
	 "events_awarded",
	 "presenters",
	 "distinctions_funded_or_awarded",
	 "roles_awarded",
	 "presenters",
	 "concept_genres"
	],
	:object => object
	
}%>

