<%= error_messages_for 'relationship_type' %>

<!--[form:relationship_type]-->
<p><label for="relationship_type_relationship_type_desc">Relationship type desc</label><br>
<%= text_area 'relationship_type', 'relationship_type_desc'  %></p>
<!--[eoform:relationship_type]-->

