<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" value="<%=object.frbr_id%>">
<%= icons_for(object, @login)%>&nbsp;<a href="/manifestations/show/<%=object.manifestation_id%>"><%=object.manifestation_title%></a>
<b>&nbsp;&nbsp;<%=show_tap_edit_link_for(object)%></b><br>