<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" 
value="<%=object.frbr_id%>">
<%= icons_for(object, @login)%>&nbsp;<a href="/venues/show/<%=object.venue_id%>"><%=h object.venue_name%></a>
<br>