<div style="background: #DEE;">
<span class="actionButton">	
<%=link_to_remote "Cancel New Item", 
:url => { :controller => 'items', :action => :cancel_item_form, :id => generate_id(entity)} %>
</span>

<% remote_form_for(:item, :url => {:controller => 'items', :action => 'create_item', :id => generate_id(entity) }) do |form| %>
  <%= render :partial => 'items/form', :locals =>{:item => item } %>
  <%= submit_tag "Save" %>
<% end %>
</div>