<%if @media_item.is_mp3?%>
<div class="flashVideoPopup">
<h2><%=@sample.sample_description%></h2>
<%=music_player(@media_item)%>
<%if @media_item.media_item_desc%><div style="text-align: left;"><%=@media_item.media_item_desc%><div><%end%>
<%if !@sample.copyright.blank?%><div style="text-left: right;">&copy;<%=@sample.sample_copyright%></div><%end%>
</div>
<%else%>
The media you are trying to view is not renderable.
<%end%>
