<h1>Role Details</h1>
<% for column in Role.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @role.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit_in_popup', :id => @role %> | <%=link_to_popup_callback("Close", @role.role_id)%>

