<%= error_messages_for 'resource_type' %>

<!--[form:resource_type]-->
<p><label for="resource_type_resource_type_desc">Resource type desc</label><br>
<%= text_area 'resource_type', 'resource_type_desc'  %></p>
<!--[eoform:resource_type]-->

