Status Update
 
The Order <%=@id%> has changed status.

The new status is: <%=@new_status%>.

Previous order status was: <%=@old_status%>.

If you require further information, please contact info@sounz.org.nz

<%=@note%>