<%= error_messages_for 'person_contactinfo' %>

<!--[form:person_contactinfo]-->
<p><label for="person_contactinfo_preferred">Preferred</label><br>
<select id="person_contactinfo_preferred" name="person_contactinfo[preferred]"><option value="false" selected>False</option><option value="true">True</option></select></p>
<!--[eoform:person_contactinfo]-->

