<% for column in PersonContactinfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @person_contactinfo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @person_contactinfo %> |
<%= link_to 'Back', :action => 'list' %>
