/** Heavy **/
@font-face {font-family: 'NexaHeavy';src: url('/fonts/nexa/2523DA_0_0.eot');src: url('/fonts/nexa/2523DA_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_0_0.woff') format('woff'),url('/fonts/nexa/2523DA_0_0.ttf') format('truetype');}

/** Regular **/
@font-face {font-family: 'NexaRegular';src: url('/fonts/nexa/2523DA_7_0.eot');src: url('/fonts/nexa/2523DA_7_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_7_0.woff') format('woff'),url('/fonts/nexa/2523DA_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Book-Italic';src: url('/fonts/nexa/2523DA_1_0.eot');src: url('/fonts/nexa/2523DA_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_1_0.woff') format('woff'),url('/fonts/nexa/2523DA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NexaThin';src: url('/fonts/nexa/2523DA_2_0.eot');src: url('/fonts/nexa/2523DA_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_2_0.woff') format('woff'),url('/fonts/nexa/2523DA_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Book';src: url('/fonts/nexa/2523DA_3_0.eot');src: url('/fonts/nexa/2523DA_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_3_0.woff') format('woff'),url('/fonts/nexa/2523DA_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Light-Italic';src: url('/fonts/nexa/2523DA_4_0.eot');src: url('/fonts/nexa/2523DA_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_4_0.woff') format('woff'),url('/fonts/nexa/2523DA_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Bold-Italic';src: url('/fonts/nexa/2523DA_5_0.eot');src: url('/fonts/nexa/2523DA_5_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_5_0.woff') format('woff'),url('/fonts/nexa/2523DA_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Heavy-Italic';src: url('/fonts/nexa/2523DA_6_0.eot');src: url('/fonts/nexa/2523DA_6_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_6_0.woff') format('woff'),url('/fonts/nexa/2523DA_6_0.ttf') format('truetype');}
  
  
@font-face {font-family: 'Nexa-XBold-Italic';src: url('/fonts/nexa/2523DA_8_0.eot');src: url('/fonts/nexa/2523DA_8_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_8_0.woff') format('woff'),url('/fonts/nexa/2523DA_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Black-Italic';src: url('/fonts/nexa/2523DA_9_0.eot');src: url('/fonts/nexa/2523DA_9_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_9_0.woff') format('woff'),url('/fonts/nexa/2523DA_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Thin-Italic';src: url('/fonts/nexa/2523DA_A_0.eot');src: url('/fonts/nexa/2523DA_A_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_A_0.woff') format('woff'),url('/fonts/nexa/2523DA_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Bold';src: url('/fonts/nexa/2523DA_B_0.eot');src: url('/fonts/nexa/2523DA_B_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_B_0.woff') format('woff'),url('/fonts/nexa/2523DA_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-XBold';src: url('/fonts/nexa/2523DA_C_0.eot');src: url('/fonts/nexa/2523DA_C_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_C_0.woff') format('woff'),url('/fonts/nexa/2523DA_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NexaBlack';src: url('/fonts/nexa/2523DA_D_0.eot');src: url('/fonts/nexa/2523DA_D_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_D_0.woff') format('woff'),url('/fonts/nexa/2523DA_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Light';src: url('/fonts/nexa/2523DA_E_0.eot');src: url('/fonts/nexa/2523DA_E_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_E_0.woff') format('woff'),url('/fonts/nexa/2523DA_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Regular-Italic';src: url('/fonts/nexa/2523DA_F_0.eot');src: url('/fonts/nexa/2523DA_F_0.eot?#iefix') format('embedded-opentype'),url('/fonts/nexa/2523DA_F_0.woff') format('woff'),url('/fonts/nexa/2523DA_F_0.ttf') format('truetype');}
 
