<label for="work_intended_duration">Intended Duration</label>
<%= text_field 'work', 'intended_duration'  , :size => 7%>


	<label for="work_duration_varies">Variable Duration</label>
	<select id="work_duration_varies" name="work[duration_varies]"><option value="false" selected>False</option><option value="true">True</option></select>
