<h1><%=@page_title%></h1>
<%=render :partial => '/shared/frbr/objects/full/work/'+@template_name, :locals => {:object => @work}%>

<%= link_to 'Edit', :action => 'edit', :id => @contributor %> |
<%= link_to 'Back', :action => 'list' %>
