<div id='detail'>
<div class='title'>
<a href='/finder/show/events' class='back'>back to Event Search</a>
</div><!--/title-->
<%=render :partial => '/shared/frbr/objects/full/venue', :locals => {:object => @venue}%>
</div><!--/detail-->
<!--<%= link_to 'Edit', :action => 'edit', :id => @venue %> |
<%= link_to 'Back', :action => 'list' %>-->
