<% for column in Organisation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @organisation.send(column.name) %>
</p>
<% end %>

<hr>
ORGANISATION CONTACT DETAILS
<hr>
<%
for person in @organisation.people
%>
<%= link_to person.full_name, :controller => :people, :action => :show, :id => person %><br>
<%	
end
%>

<br>
<br>


<%= link_to 'Edit', :action => 'edit', :id => @organisation %> |
<%= link_to 'Back', :action => 'list' %>
