<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods=>["genred_distinctions","genred_events","genred_manifestations","genred_resources","genred_works","influenced_events","influenced_manifestations","influenced_resources","influenced_superworks","influenced_works","inspired_superworks","performance_affected_by","related_concepts","roles_influenced","roles_who_identify","themed_events","themed_manifestations","themed_resources","themed_works","writings_affected_by"],
	:object => object
	
}%>

