<%=main_tabs(selected = :events)%>

<%=start_of_content(@distinction_instance, "Award")%>
<%=render :partial => '/shared/frbr/objects/full/distinction_instance', :locals => {:object => @distinction_instance}%>
<%=end_of_content(@distinction_instance)%>


