<%= error_messages_for 'marketing_category' %>

<!--[form:marketing_category]-->
<p><label for="marketing_category_description">Description</label><br>
<%= text_area 'marketing_category', 'description'  %></p>

<p><label for="marketing_category_abbreviation">Abbreviation</label><br>
<%= text_area 'marketing_category', 'abbreviation'  %></p>
<!--[eoform:marketing_category]-->

