<% for column in MarketingCategory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @marketing_category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @marketing_category %> |
<%= link_to 'Back', :action => 'list' %>
