<%= error_messages_for 'communication_type' %>

<!--[form:communication_type]-->
<p><label for="communication_type_communication_type_desc">Communication type desc</label><br>
<%= text_area 'communication_type', 'communication_type_desc'  %></p>
<!--[eoform:communication_type]-->

