<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods=>["concept_genres","concept_influences","concept_themes","descriptive_resources","distinctions","documentative_resources","events_launched_at","original_manifestation_for_publication","original_manifestation_for_recording","publications_as_manifestations","recordings_as_manifestations","sellers"
	                 #,"recorders", "releasers", "licensers", "publishers", "related_manifestations"
	                ],
	:object => object
	
}%>
