<th><label for="marketing_campaign_finished_at">Finished at</label></th>
<td><%= date_field('mark_campaign_finish_date', 'finish_date', :value => @finish_date, :size => 15) %>
                     &nbsp;<%= text_field 'mark_campaign_finish_time', 'finish_time', :value => @finish_time, :size => 5 %>
</td>