<%= error_messages_for 'examboard' %>

<!--[form:examboard]-->
<p><label for="examboard_examboard_name">Examboard name</label><br>
<%= text_area 'examboard', 'examboard_name'  %></p>
<!--[eoform:examboard]-->

