<% for column in Examboard.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @examboard.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @examboard %> |
<%= link_to 'Back', :action => 'list' %>
