Create a new manifestation<p/>
Fill out the fields below to add a new manifestation record.
<%=form_tag :controller=> :frbr_core_wizard, :action=> :add_manifestation%>
<%=render :partial => "/manifestations/form"%>
<%=submit_tag%>