Manifestation Details: <%=@manifestation.manifestation_title%><p/>
Expression Details: <%=@expression.general_note%><p/>

Work Title:
Find Work:
<p/>
Enter your search term here:<input type="text">
<p/>

If your chosen work appears on the list, click on it to advance to the 'Find superwork' screen.
<p/>
otherwise, click here to <a href="/frbr_core_wizard/show?step=create_work">Create a Work</a>