<% for column in Contactinfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @contactinfo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @contactinfo %> |
<%= link_to 'Back', :action => 'list' %>
