<h2>Maintenance</h2>

<ul>
<li><%=link_to "Regions", :controller=> :regions, :action => :list%></li>
<li><%=link_to "Countries", :controller=> :countries, :action => :list%></li>
<li><%=link_to "Marketing Categorisation", :controller => :marketing_categorisation, :action => :list %>
<li><%=link_to "Role Types" %></li>
</ul>
</div>