<h1>Editing sounz_service</h1>

<% form_tag :action => 'update', :id => @sounz_service do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @sounz_service %> |
<%= link_to 'Back', :action => 'list' %>
