<p><label for="expression_partial_expression_note">Partial expression note</label><br>
<%= text_area 'expression', 'partial_expression_note', :rows => standard_edit_rows, :cols => standard_edit_cols  %></p>