<span class="popup_link"><%text = 'New Categorisation '+ contextual_text%>
<%= link_to_new text, 600,600,:controller => 'marketing_categorisation', :action => 'new_subcategory_in_popup_from_role', :id => contextual_category_id, :role_id => @role.role_id %>
</span>