<h1>Editing role_categorization</h1>

<% form_tag :action => 'update', :id => @role_categorization do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @role_categorization %> |
<%= link_to 'Back', :action => 'list' %>
