<%= error_messages_for 'role_type' %>

<!--[form:role_type]-->
<p><label for="role_type_role_type_desc">Role type desc</label><br>
<%= text_area 'role_type', 'role_type_desc'  %></p>
<!--[eoform:role_type]-->

