<% for column in RoleType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @role_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @role_type %> |
<%= link_to 'Back', :action => 'list' %>
