#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

PRIORITY=high
PACKAGE=sounz

db_input $PRIORITY ${PACKAGE}/db_name || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_port || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_user || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_passwd || true
db_go || true

db_input $PRIORITY sounz/enable_backend_cronjobs || true
db_go || true

db_get ${PACKAGE}/enable_backend_cronjobs
if [ "$RET" = "true" ]; then

  db_get ${PACKAGE}/status
  if [ "$RET" != "production_alone" ]; then
    db_input $PRIORITY sounz/sounz_db_cron || true
    db_go || true
  fi
  
fi
