#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

PRIORITY=high
PACKAGE=sounz

case "$1" in
  configure)
    db_input $PRIORITY ${PACKAGE}/admin_email || true
    db_go || true

    # Mailserver SMPT server hostname
    db_input $PRIORITY ${PACKAGE}/email_smtp_server || true
    db_go || true

    # Mailserver mail domain
    db_input $PRIORITY ${PACKAGE}/email_domain || true
    db_go || true

    # Mailserver login username
    db_input $PRIORITY ${PACKAGE}/email_user || true
    db_go || true

    # Mailserver login password
    db_get ${PACKAGE}/email_user
    if [ "$RET" != "" ]; then
      db_input $PRIORITY ${PACKAGE}/email_password || true
      db_go
    fi

    # Mailserver TLS connection: true/false
    db_input $PRIORITY ${PACKAGE}/email_tls || true
    db_go || true

    # Mailserver port
    db_get ${PACKAGE}/email_tls
    if [ "$RET" = "true" ]; then
      db_set ${PACKAGE}/email_port "465"
    else
      db_set ${PACKAGE}/email_port "25"
    fi
    db_input $PRIORITY ${PACKAGE}/email_port || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/status || true
    db_go || true
    ;;
    
  *)
    # all other cases do nothing
    ;;
esac
    