#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

PRIORITY=high
PACKAGE=sounz

db_input $PRIORITY ${PACKAGE}/db_name || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_host || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_port || true
db_go

db_input $PRIORITY ${PACKAGE}/db_user || true
db_go || true

db_input $PRIORITY ${PACKAGE}/db_passwd || true
db_go || true

db_input $PRIORITY ${PACKAGE}/mongrel_ports || true
db_go || true

db_input $PRIORITY ${PACKAGE}/environment || true
db_go || true

db_input $PRIORITY ${PACKAGE}/solr_host || true
db_go || true

db_input $PRIORITY ${PACKAGE}/solr_port || true
db_go || true

db_input $PRIORITY ${PACKAGE}/apache_servername || true
db_go || true


db_get ${PACKAGE}/status
if [ "$RET" != "production_alone" ]; then

  db_input $PRIORITY ${PACKAGE}/ip_primary_server || true
  db_go || true

  db_input $PRIORITY ${PACKAGE}/ip_secondary_server || true
  db_go || true

  db_input $PRIORITY ${PACKAGE}/sounz_rsync_port || true
  db_go || true

fi
  
db_input $PRIORITY ${PACKAGE}/enable_app_cronjobs || true
db_go || true

db_get ${PACKAGE}/enable_app_cronjobs
if [ "$RET" = "true" ]; then
  db_input $PRIORITY sounz/sounz_rsync_cron || true
  db_go || true
fi

db_input $PRIORITY ${PACKAGE}/sounz_app_note || true
db_go || true
