#!/bin/bash -e

# Source debconf library.
. /usr/share/debconf/confmodule

PRIORITY=high
PACKAGE=sounz

case "$1" in
  configure)
    db_input $PRIORITY ${PACKAGE}/apache_servername || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/apache_serveraliases || true
    db_go || true

    DATAVOL=/data
    if [ -d $DATAVOL ] ; then
      db_set ${PACKAGE}/apache_documentroot "${DATAVOL}/sounz/htdocs"
    else
      db_set ${PACKAGE}/apache_documentroot "/var/www/sounz"
    fi

    db_input $PRIORITY ${PACKAGE}/apache_documentroot || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/mongrel_host || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/mongrel_ports || true
    db_go || true
    
    db_input $PRIORITY ${PACKAGE}/db_name || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/db_host || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/db_port || true
    db_go

    db_input $PRIORITY ${PACKAGE}/db_user || true
    db_go || true

    db_input $PRIORITY ${PACKAGE}/db_passwd || true
    db_go || true
    ;;
    
  *)
    # all other cases do nothing
    ;;
esac
    