<h1>Logins</h1>
<p>Please search for a login by typing in the textfield below.  You can also view the logins in order of 
	<a href="/logins/newest_first">most newly created</a>
	
<form action="/logins/find" method="get">
	<input type="text" size="30" name="searchTerm">
	<%= submit_tag "Search" %>
</form>