<%= error_messages_for 'marketing_subcategory' %>

<!--[form:marketing_subcategory]-->
<p><label for="marketing_subcategory_description">Description</label><br>
<%= text_area 'marketing_subcategory', 'description'  %></p>

<p><label for="marketing_subcategory_abbreviation">Abbreviation</label><br>
<%= text_area 'marketing_subcategory', 'abbreviation'  %></p>
<!--[eoform:marketing_subcategory]-->

