<% if !object.downloadable %>
  <% if object.available_for_hire %>
    <% if PrivilegesHelper.has_permission?(get_user,'IS_AUTHENTICATED') %>
      <%= link_to 'Hire', { :controller => :cart,:action => :hire_product, :type => 'resource', :method => 'hire', :id => object.id}, {:class => 'public_button submit hire'} %>
    <% else %>
      <div class="submit-disabled">Please login to hire</div>
    <% end %>
  <% end %>
<% end %>
