<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods=>["concept_genres","concept_influences","concept_themes","distinctions","events_launched_at","expressions_described","licensers","manifestations_described","manifestations_documented","publishers","recorders","related_resources","releasers","roles_described","sellers","superworks_described","works_described","writers"],
	:object => object
	
}%>
