<%= error_messages_for 'entity_type' %>

<!--[form:entity_type]-->
<p><label for="entity_type_entity_type">Entity type</label><br>
<%= text_area 'entity_type', 'entity_type'  %></p>
<!--[eoform:entity_type]-->

