<% for column in MailoutContact.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mailout_contact.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mailout_contact %> |
<%= link_to 'Back', :action => 'list' %>
