<br>
<span class="actionButton"><%=link_to_remote "Add Sample", :url => {:controller => :manifestations, :action => :show_add_sample_form, :id => manifestation}, :update => "new_sample_form", :success => "Effect.Highlight('new_sample_form')" %></span>