<h1>New manifestation<%if @has_related_expression%> for '<%=@related_expression.expression_title%>'<%end%></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<div class="editLinks">
<%= link_to 'List', :action => 'list' %>
</div>
