<%= error_messages_for 'communication_method' %>

<!--[form:communication_method]-->
<p><label for="communication_method_communication_method_desc">Communication method desc</label><br>
<%= text_area 'communication_method', 'communication_method_desc'  %></p>
<!--[eoform:communication_method]-->

