<% for column in CommunicationMethod.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @communication_method.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @communication_method %> |
<%= link_to 'Back', :action => 'list' %>
