<% for column in BorrowedItem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @borrowed_item.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @borrowed_item %> |
<%= link_to 'Back', :action => 'list' %>
