<h1>Editing sounz_donation</h1>

<% form_tag :action => 'update', :id => @sounz_donation do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @sounz_donation %> |
<%= link_to 'Back', :action => 'list' %>
