<% for column in SounzDonation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sounz_donation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @sounz_donation %> |
<%= link_to 'Back', :action => 'list' %>
