<%= error_messages_for 'setting' %>

<!--[form:setting]-->
<p><label for="setting_setting_name">Setting name</label><br>
<%= text_field 'setting', 'setting_name', :size => standard_edit_cols %></p>

<p><label for="setting_setting_value">Setting value</label><br>
<%= text_field 'setting', 'setting_value', :size => standard_edit_cols  %></p>
<!--[eoform:setting]-->

