<% content_for :page_title do %>
Feedback Form
<%end%>

<div class="section">
<h2>Feedback Submission</h2>
</div>
<br/>
<p>Thank you for your feedback! It has been emailed to SOUNZ staff</p>
<p><%= link_to 'Music Search', :controller => 'finder', :action => 'show' %></p>
