<th><label for="project_actual_finish_date">Actual finish date</label></th>
<td>
<%= date_field('project_actual_finish_date', 'actual_finish_date', :value => @actual_finish_date, :size => 15) %>&nbsp;
<%= text_field 'project_actual_finish_date', 'actual_finish_time', :value => @actual_finish_time, :size => 5 %>
</td>
