<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><untitled><%=@title%></title>
</head>
<body>
Loading <%=@title%> - please wait
<%render :partial => 'shared/spinner'%>
</body>
</html>
