<%= render :partial => 'shared/frbr/objects/common/frbr_object_links', :locals => {
	:frbr_methods=>["arrangers","commissioners","composers","concept_genres","concept_influences","concept_themes","creaters","descriptive_resources","distinctions","event_commissions","expression_parts","funder","improvisors","influences_these_works","roles_dedicated","selectors","superwork_evidences","superwork_influences","superworks_from_whom_source_material_is_drawn","work_influences","works_from_whom_source_material_is_drawn","works_to_whom_source_material_is_provided"],
	:object => object
	
}%>
