<h1>New Event Form:</h1>

<%= error_messages_for :prov_events %>

<% form_for(:prov_events, :url => prov_events_path) do |f| %>
  <%=render :partial => "form", :locals => {:f => f}%>

<ul class="form-actions">
   <li class="submit"><input type="submit" value="Submit" class="submit public_button"></li>
</ul>

<% end %>
