<% for column in MailoutAttachment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mailout_attachment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mailout_attachment %> |
<%= link_to 'Back', :action => 'list' %>
