<div id="accessRightErrors">
	<!-- any form errors will appear here -->
</div>
<%= form_remote_tag :url => {  :action => :create} %>
<%=render :partial => 'form_contents'%>
<%=submit_tag 'Create'%>
</form>