FRBR:<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" value="<%=object.frbr_id%>"><b><a href="/expressions/show/<%=object.expression_id%>"><%=object.general_note%></a></b><br>