FRBR:<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" value="<%=object.frbr_id%>"><b><a href="/manifestations/show/<%=object.manifestation_id%>"><%=object.manifestation_title%></a></b><br>