FRBR:<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" value="<%=object.frbr_id%>"><b><A href="/superworks/show/<%=object.superwork_id%>"><%=object.superwork_title%></a></b><br>