FRBR:<input type="hidden" name="association[entity_b_id]" id="association_entity_b_id" 
value="<%=object.frbr_id%>">
<b><a href="/venues/show/<%=object.venue_id%>"><%=object.venue_name%></a></b><br>
<%=object.venue_description%>