<%= error_messages_for 'country' %>

<!--[form:country]-->
<p><label for="country_country_name">Country name</label><br>
<%= text_field 'country', 'country_name'  %></p>

<p><label for="country_country_abbrev">Country abbrev</label><br>
<%= text_field 'country', 'country_abbrev'  %></p>
<!--[eoform:country]-->

