<div id='detail'>
<div class='title'>
<a href='/finder/shows/people' class='back'>back to People Search</a>
</div><!--/title-->
<%=render :partial => '/shared/frbr/objects/full/composer_show_all_improvisations', :locals => {:object => @contributor}%>
</div><!--/detail-->

<!--<%= link_to 'Edit', :action => 'edit', :id => @contributor %> |
<%= link_to 'Back', :action => 'list' %>-->

