<%=start_of_content(@contributor, "Composer")%>
<%=render :partial => '/shared/frbr/objects/full/contributor/composer/composer_intro', :locals => {:object => @contributor, :items => @items, :paginator => @paginator, :page => @page}%>
<%=end_of_content(@contributor)%>

