<h1><%=@page_title%></h1>
<%=render :partial => '/shared/frbr/objects/full/contributor/general/generic', :locals => {:object => @contributor, :meth => @method_for_objects,  :items => @items, :paginator => @paginator}%>

