<div id='detail'>
<div class='title'>
<a href='/finder/shows/works' class='back'>back to People Search</a>
</div><!--/title-->
<%=render :partial => '/shared/frbr/objects/full/contributor/performer/performer_intro', :locals => {:object => @contributor}%>
</div><!--/detail-->
