<%= error_messages_for 'concept_type' %>

<!--[form:concept_type]-->
<p><label for="concept_type_concept_type_desc">Concept type desc</label><br>
<%= text_area 'concept_type', 'concept_type_desc'  %></p>
<!--[eoform:concept_type]-->

