<h1>Editing concept_type</h1>

<% form_tag :action => 'update', :id => @concept_type do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @concept_type %> |
<%= link_to 'Back', :action => 'list' %>
