<% for column in Mode.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mode.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mode %> |
<%= link_to 'Back', :action => 'list' %>
